@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

.left-bar {
  box-sizing: border-box;
  background: white;
  bottom: 0;
  top: 70px;
  width: 300px;
  font-family: 'Inter', sans-serif;
}

.left-bar a {
  text-decoration: none;
  display: block;
  padding: 17px 30px;
  color: black;
  cursor: pointer;
}
.left-bar a:hover {
  background-color: whitesmoke;
}

.left-bar a i {
  margin-right: 16px;
  margin-left: 5px;
}

.leftbar-footer {
  display: flex;
  margin-top: 350px;
  padding: 0px;
}
.new-list {
  display: flex;
  justify-content: space-between;
}

.leftbar-footer a i {
  padding-right: 0px;
}
