main {
  margin: 20px;
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header-left {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main-header-left-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.2em;
}

.main-header-left-bottom {
  display: flex;
  justify-content: flex-start;
}

.main-header-left i {
  font-size: 1.5em;
}

.main-header-left h2 {
  margin-left: 10px;
}

.main-header-right {
  width: 30%;
}

.main-header-right ul {
  display: flex;
  justify-content: flex-end;
}

.main-header-right ul li {
  list-style: none;
  margin-left: 30px;
}

.task {
  display: flex;
  width: 100%;
}

form {
  width: 100%;
  box-shadow: 0px 3px 4px 0px lightgrey;
  border-radius: 4px;
}

.form-top {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  height: 3.5em;
  align-items: center;
}

[type='radio'] {
}

.radio {
  margin-left: 20px;
  margin-right: 15px;
}

#txt {
  width: 100%;
  border: 0;
  border-radius: 3px;
  font-size: 1em;
}

#txt:focus {
  outline: none;
}

.form-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  height: 3em;
  background-color: #faf9f8;
  height: 3.5em;
}

.form-bottom-left {
  width: 30%;
  display: flex;
  align-items: center;
}

.errormsg {
  margin-left: 20px;
  background-color: lightcoral;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: white;
}

.form-bottom-left i {
  margin-left: 20px;
}

.form-bottom button {
  margin-right: 20px;
  height: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  font-size: 0.75em;
}

#plus {
  margin-left: 20px;
  margin-right: 15px;
}

.saved {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 4px 0px lightgrey;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: pre-wrap;
}

li {
  list-style: none;
  padding-left: 15px;
}

.form-img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 15px;
}

.img-saved {
  width: 20px;
  margin-left: -20px;
}

.img-saved:hover {
  content: url(../images/checked.png);
}

.left-saved {
  display: flex;
  align-items: center;
}

.right-saved {
  width: 15px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50%;
  padding: 5px;
}

.right-saved:hover {
  background-color: lightgray;
  border-radius: 50%;
  padding: 5px;
}

.saved {
  display: flex;
  justify-content: space-between;
}

.crossed {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 4px 0px lightgrey;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: pre-wrap;
  text-decoration: line-through;
  justify-content: space-between;
}

.right-images {
  display: flex;
  align-items: center;
}

.edit-button {
  width: 15px;
  border-radius: 10%;
  padding: 5px;
  margin-left: 15px;
}

.edit-button:hover {
  background-color: lightgray;
  border-radius: 40%;
  padding: 5px;
}

.editInput {
  width: 100%;
}

.editInput:focus {
  outline: none;
  border: 0;
}
