@import url('CSS/left-bar.css');
@import url('CSS/main.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faf9f8;
}

.wrapper {
  display: flex;
}

footer {
  padding-top: 40px;
  background-color: lightgray;
  height: 90px;
}
